  .guilabel
  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    border: solid 1px #e1e4e5;
    padding: 2px 5px;

    font-weight: bold;
    font-style: normal;
  }


.wy-table-responsive table td
{
  white-space: normal;
}
